Problem Statement -1
You are given an array A consisting of positive integers. Your task is to find and return all
the leaders in the array. An element of the array is considered a leader if it is greater than or
equal to all the elements to its right side. The rightmost element is always a leader.

In [46]:
def leader(n, arr):
    if n == 0:
        return []

    leaders = [arr[n - 1]]  # Rightmost element is always a leader
    max_right = arr[n - 1]  # Initialize the maximum as the rightmost element

    for i in range(n - 2, -1, -1):
        if arr[i] >= max_right:
            leaders.append(arr[i])
            max_right = arr[i]

    # Reverse the leaders list to have them in the original order
    leaders.reverse()

    return leaders

Example - 1

In [47]:
arr1 = [16,17,4,3,5,2]
n = len(arr1)
ans1 = leader(n,arr1)
print(ans1)

[17, 5, 2]

Example - 2

In [48]:
arr2 = [1,2,3,4,0]
n = len(arr2)
ans2 = leader(n,arr2)
print(ans2)

[4, 0]

Problem Statement -2
Given a string S, your task is to reverse each word in it where the words are separated by
dots.

In [49]:
def reverseWords(s):
    words = s.split('.')  # Split the string into words
    reversed_words = [word[::-1] for word in words]  # Reverse each word
    reversed_string = '.'.join(reversed_words)  # Join the reversed words with dots
    return reversed_string

Example - 1

In [50]:
string1 = "i.like.this.program.very.much"
result1 = reverseWords(string1)
print(result1)

i.ekil.siht.margorp.yrev.hcum

Example - 2

In [51]:
string2 = "pqr.mno"
result2 = reverseWords(string2)
print(result2)

rqp.onm

Problem Statement -3
You are given a dictionary containing information about people, including their names,
ages, and cities. Your task is to perform the following operations using Pandas:

In [52]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
# This is the provided data

In [53]:
import pandas as pd # importing Pandas module.
df = pd.DataFrame(data) # Converting data to dataframe
data_columns = df[['Name', 'Age']] # Selecting the columns named as Name and Age
print(data_columns) # Printing the columns

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [54]:
mean_age = df['Age'].mean() # It calculates the mean age

median_age = df['Age'].median() # It calculates the median age

print("Mean Age:", mean_age)
print("Median Age:", median_age)

Mean Age: 32.5
Median Age: 32.5

Problem Statement - 4

You are given an array of integers. Your task is to write a Python function
find_second_largest(arr) that finds and returns the second-largest number in the array.

In [55]:
def find_second_largest(arr):
  length_array = len(arr) # First we calculate the length of array
  arr.sort(reverse = True) # then sorting the array in reverse order.
  if(length_array >= 2): # Checking for the test case if length of array is greater than equal 2
    ans = arr[1]
  else:
    return None; # Else return None in case of length of array is less than 2
  return ans

Example - 1

In [56]:
arr1 = [10, 5, 9, 22, 18]
second_max1 = find_second_largest(arr1)
print(second_max1)

18

Example - 2

In [60]:
arr2 = [15, 15, 15, 15]
second_max2 = find_second_largest(arr2)
print(second_max2)

15

Problem Statement – 5
Write a Python program that accepts a sentence and calculates the number of uppercase
letters and lowercase letters.

In [58]:
def count_upper_lower(sentence):
    upper_count = 0
    lower_count = 0

    for char in sentence:
        if char.isupper(): # It returns true if character is in Upper case
            upper_count += 1
        elif char.islower(): # It returns true if character is in Lower case
            lower_count += 1

    return upper_count, lower_count

Example - 1

In [59]:
sentence1 = "Hello world!"
upper, lower = count_upper_lower(sentence1)

print("UPPER CASE", upper)
print("LOWER CASE", lower)

UPPER CASE 1
LOWER CASE 9